---
import Layout from "../layouts/Layout.astro";
import { SignUp } from "@/components/auth/SignUp";
---

<Layout title="Sign Up - Josh Kit">
    <div class="flex items-center justify-center min-h-[80vh]">
        <SignUp client:load />
    </div>
</Layout>
